.tootInsetText {
  max-width: 100%;
  text-align: justify;
}

.panelCloseButton {
  float: right;
  box-shadow: 0 0;
  padding: 0;
  margin: 0;
}

.workPanel,
.placementPanel,
.previousDeclarationsPanel,
.currentDeclarationsPanel {
  margin: 0;
  padding: 0 0 30px;
}

.sectionEditButton {
  line-height: 1;
  padding: 6px 12px;
}

.tootInsetText {
  max-width: 100%;
  text-align: justify;
}

.panelCloseButton {
  float: right;
  box-shadow: 0 0;
  padding: 0;
  margin: 0;
}

.workPanel {
  margin: 0;
  padding: 10px 0;
}

.declarationsPanel {
  margin: 0;
  padding: 10px 0;
}

.sectionEditButton {
  line-height: 1;
  padding: 6px 12px;
}

.heePagination {
  ul {
    display: flex;
    justify-content: space-between;
    li {
      flex: 1 0 0 !important;
      width: auto;
      text-align: center;
    }
    li:last-child {
      text-align: right;
    }
    li:first-child {
      text-align: left;
    }
  }
  &.twoCol {
    li:first-child {
      text-align: right;
    }
  }
}
