.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  width: 100%;

  z-index: 9999;
  overflow: hidden;
  @media (min-width: 768px) {
    top: 50px;
    width: 70%;
    box-shadow: 5px 10px 18px #888888;
    height: 600px;
  }
  .modalHeader {
    background-color: #330072;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      padding: 10px;
      color: #fff;
      &.title {
        font-size: large;
      }
      &.close {
        button {
          background-color: rgba(0, 0, 0, 0);
          border: none;
          color: #fff;
          cursor: pointer;
        }
      }
    }
  }
  .modalContent {
    position: absolute;
    top: 63px;
    bottom: 0;
    overflow: scroll;
    padding: 30px 30px 0 30px;
    @media (min-width: 768px) {
      padding: 30px 30px 80px 30px;

      height: 540px;
    }
  }
}
